body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
}
.navbar{
    background-color: rgb(62, 59, 59);
    color: white;
    padding: 0.2px;
    text-align: center;
}
.navbar ul li{
    display: inline;
    padding: 10px;
}
.one{
    background-color: lightgray;
    padding: 5px;
    margin-top: 20px;
}

.two{
    background-color: lightgray;
    padding: 5px;
    margin-top: 20px;
}
.three{
    background-color: yellow;
    padding: 5px;
    margin-top: 20px;
}
.four{
    background-color: lightgray;
    padding: 5px;
    margin-top: 20px;
    color: red;
}
.five{
    background-color: lightgray;
    padding: 5px;
    margin-top: 20px;
}
.six{
    background-color: lightgray;
    padding: 5px;
    margin-top: 20px;
}
.seven{
    background-color: lightgray;
    padding: 5px;
    margin-top: 20px;
}
.eight{
    background-color: lightgray;
    padding: 5px;
    margin-top: 20px;
}
.nine{
    background-color: lightgray;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    background-color: rgb(62, 59, 59);
    text-align: center;
    padding: 0%;
}
