body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: rgb(43, 42, 42);
    text-align: center;
    padding: 7px;
}
.navbar ul li{
    color: white;
    display: inline;
    padding: 5px;
}
.form h2{
    text-align: center;
}
form{
    border: solid;
    color: black;
    margin: 40px;
    padding: 20px;
}
.b1{
    background-color: black;
    color: white;
    padding: 5px 210px;
}
input{
    padding: 10px 145px;
    align-items: center;
    margin: 10px 0px;
}
footer{
    background-color: lightgrey;
    text-align: center;
    padding: 1px 0.5px;
}