body{
  font-family: arial;
}

h1{
  text-align: center;
  background-color: rgba(13, 191, 13, 0.92);
  color: white;
  padding: 30px;
}

.sidebar{
  background-color: rgb(247, 247, 246);
  padding: 20px;
  height: 1000px;
}

.mc{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.maincontent{
  background-color: rgb(235, 235, 235);
  padding: 20px;
  margin-left: 20px;
}

.footer{
  background-color: rgba(13, 191, 13, 0.92);
  padding: 20px;
  text-align: center;
}

span{
  margin-left: 20px;
}