body{
    font-family: arial;
    position: absolute;
    left: 30%;
    top: 10%;
}

.border1{
    border-bottom: 1px solid rgb(238, 235, 235);
    margin-bottom: 30px;
}

input{
    padding: 3px;
    width: 130px;
    height: 20px;
    border: 1px solid rgba(236, 235, 235, 0.822);
    border-radius: 3px;
    margin-right: 5px;
}

select{
    padding: 3px;
    width: 130px;
    height: 33px;
    border: 1px solid rgba(236, 235, 235, 0.822);
    border-radius: 3px;
    margin-right: 5px;
}

button{
    padding: 10px 10px;
    border: none;
    background-color: rgb(0, 183, 255);
    color: white;
    border-radius: 3px;
}

.border2{
    border-bottom: 1px solid rgb(238, 235, 235);
    margin-bottom: 30px;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.useropt {
    display: grid;
    grid-template-columns: 460px auto;
    align-items: center;
    gap: 20px;
}


.userlist li {
    margin-bottom: 10px;
}

.edit{
    margin-right: 10px;
}


.content{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}


.outer{
    border: 2px solid rgb(4, 201, 250);
    padding: 7px;
    border-radius: 5px;
}